<!-- this load static line means we wanna use static files of django in the html page to show images or css files or js files   -->
{% load static %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/90d6439bb3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- this format like {% something %} called coding blocks or jinja formats that mans we want to import django in our html page and format of loading the static files is what written in the href in which we have provided the path that from where we want to load the static files -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    <!-- this is django if else in the html page -->
	{% if title %}
		<title> Django-Blog-{{ title }} </title>
	{% else %}
		<title> Django-Blog</title>
	{% endif %}
</head>
<body>
		<!-- if users password and login are correct that will check this user.is_authenticated does here -->
		{% if user.is_authenticated %} 
		<h1 class="text-center mb-4"  style="color:green;">Apan Machayenge &#128540;</h1>
		{% endif %}
		<header class="site-header">
		  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
		    <div class="container">
		    	<a href="#" class="navbar-brand mr-1">
		            <img src="{% static 'blog/logo.png' %}" width="40" height="40" alt="ParthBook">
		        </a>
		      <a class="navbar-brand mr-4" href="{% url 'blog:blog-home' %}">ParthBook</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		      </button>
		      <div class="collapse navbar-collapse" id="navbarToggle">
		        <div class="navbar-nav mr-auto">
		          <!-- If u wanna do hard coding or give absolute path in href then u cando like this but it is not recommended at all just for learning
		          <a class="nav-item nav-link" href="/blog/home">Home</a>
		          <a class="nav-item nav-link" href="/blog/about">About</a>
		          -->
		        	<a class="nav-item nav-link" href="{% url 'blog:blog-home' %}">Home</a>
		            <!-- <a class="nav-item nav-link" href="{% url 'blog:blog-about' %}">About</a> -->
		        </div>
		        <!-- Navbar Right Side -->
		        <div class="navbar-nav">
		        	{% if user.is_authenticated %}
		        		<a class="nav-item nav-link" href="{% url 'blog:post-create' %}">New Post</a>
		        		<a class="nav-item nav-link" href="{% url 'users:profile-page' %}">Profile</a>
		        		<a class="nav-item nav-link" href="{% url 'blog:post_favorite_list' %}">Favorites</a>
		        		<a class="nav-item nav-link" href="{% url 'logout-page' %}">Logout</a>
		        		<a href="{% url 'users:profile-page' %}" class="navbar-brand mr-1">
				            <img src="{{ user.profile.image.url }}" width="40" height="40" alt="ProfilePic">
				        </a>
		        	{% else %}
			          <a class="nav-item nav-link" href="{% url 'login-page' %}">Login</a>
			          <a class="nav-item nav-link" href="{% url 'users:register-page' %}">Register</a>
			         {% endif %}
		        </div>
		      </div>
		    </div>
		  </nav>
		</header>
		<main role="main" class="container">
		  <div class="row">
		    <div class="col-md-8 col-xs-4">

		    	<!-- this is here to show the messages like your post has been updated successfully or some error or warning in the html page from django and 'tags' means that which type of error message is erro or success or warning or info -->
		    	{% if messages %}
		    		{% for message in messages %}
			    		<div class="alert alert-{{ message.tags }}">
			    			{{ message }}
			    		</div>

		    		{% endfor %}
		    	{% endif %}
		    	<!-- this line below means that what html page we want to load in our base.html -->
		      {% block content %}{% endblock content %}
		    </div>
		    <div class="col-md-4 col-xs-4">
		    	{% if user.is_authenticated %}
		      <div class="content-section">
		        <h5 class="alert alert-success alert-heading">Welcome To ParthBook &#128519;</h5>
		        
		        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
		        <!-- <h5 class="account-heading">{{ user.username }}</h5> -->
		        <!-- {{ user.username }} means that we want to use inbuilt user's username in the html page -->
		        <h5 class="h3">{{ user.username }}</h5>
		        <p class='alert alert-primary'>Hello guys, what is up?&#128152;</p>
		          <ul class="list-group">
		            <li class="list-group-item list-group-item-light">Latest Posts</li>
		            <li class="list-group-item list-group-item-light">Announcements</li>
		            <li class="list-group-item list-group-item-light">Calendar<i class="far fa-calendar-alt ml-2 fa-lg"></i></li>
		            <li class="list-group-item list-group-item-light">Events</li>
		          </ul>
		        </p>
		        {% endif %}
		      </div>
		    </div>
		  </div>
		</main>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>

		<footer class="kilimanjaro_area">
        <!-- Top Footer Area Start -->
        <div class="foo_top_header_one section_padding_100_70">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>About Me</h5>
                            <p>In this site i have tried my best to give myself the immense pleasure that you can't imagine . so don't bother.&#128513;</p>
                            <p>I have created this site with the help of many youtube tutorials and udemy courses that you can't imagine, yeah again.So just don't bother.&#128514;</p>
                        </div>
                        <div class="kilimanjaro_part m-top-15">
                            <h5>Social Links</h5>
                            <ul class="kilimanjaro_social_links">
                                

                                <li><a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true" style="color:blue;"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true" style="color:blue;"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest fa-lg" aria-hidden="true" style="color:red;"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true" style="color:red;"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true" style="color:blue;"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Technologies Used</h5>
                            <ul class=" kilimanjaro_widget">
                                <li><a href="#">Django</a></li>
                                <li><a href="#">Python</a></li>
                                <li><a href="#">Javascript</a></li>
                                <li><a href="#">Html</a></li>
                                <li><a href="#">CSS</a></li>
                            </ul>
                        </div>

                        <div class="kilimanjaro_part m-top-15">
                            <h5>Important Links</h5>
                            <ul class="kilimanjaro_links">
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>About Licences</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Help & Support</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Careers</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Privacy Policy</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Community & Forum</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Latest News</h5>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="{% static 'blog/leh.jpg' %}" alt="Leh">

                                </div>
                                <a href="#">Leh Ladakh Trip unchecked</a>
                                <p class="kilimanjaro_date">21 Jan 2018</p>
                                <p>Ye bhi pata nai kab possible ho payegi</p>
                            </div>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="{% static 'blog/man.jpg' %}" alt="Manali">
                                </div>
                                <a href="#">Manali Trip Checked</a>
                                <p class="kilimanjaro_date">5 June 2018</p>
                                <p>Next time spititvalley jayege don't mind spellings and all</p>
                            </div>
                            <div class="kilimanjaro_blog_area">
                                <div class="kilimanjaro_thumb">
								<img class="img-fluid" src="{% static 'blog/goa.jpg' %}" alt="goa">
                                </div>
                                <a href="#">Goa Trip Pending</a>
                                <p class="kilimanjaro_date">23 July 2020 ....</p>
                                <p>Don't know when will this dream come true.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="kilimanjaro_part">
                            <h5>Contact Me</h5>
                            <div class="kilimanjaro_single_contact_info">
                                <!-- <h5>Phone :<small>&nbsp+91-8770126828</small></h5> -->
                                <h5><i class="fas fa-mobile-alt fa-lg mr-3" style="color:blue;"></i><small>&nbsp:&nbsp+91-8770126828</small></h5>
                                
                            </div>
                            <div class="kilimanjaro_single_contact_info">
                                <!-- <h5>Email&nbsp:<small>&nbspparthlashkari111@gmail.com</small></h5> -->
                                <h5><i class="far fa-envelope fa-lg mr-2 " style="color:blue;"></i><small>:&nbspparthlashkari111@gmail.com</small></h5>
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <p>© All Rights Reserved by <a href="#">Devil Parth &#128520;<i class="fa fa-love"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
		

	
	

	 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script type="text/javascript">
    	$('.reply-btn').click(function() {
    		$(this).parent().parent().next('.replied-comments').fadeToggle()
    	});

    	$(function(){
    		setTimeout(function(){
    			$('.alert').slideUp(4000);
    		}, 5000);
    	});


    </script>


    <script>
	/* To Disable Inspect Element */
	$(document).bind("contextmenu",function(e) {
	 e.preventDefault();
	});

	$(document).keydown(function(e){
	    if(e.which === 123){
	       return false;
	    }
	});
	</script>


	<script>
	document.onkeydown = function(e) {
	if(event.keyCode == 123) {
	return false;
	}
	if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
	return false;
	}
	if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
	return false;
	}
	if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
	return false;
	}
	if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
	return false;
	}
	if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)){
	return false;
	}
	if(e.ctrlKey && e.keyCode == 'H'.charCodeAt(0)){
	return false;
	}
	if(e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)){
	return false;
	}
	if(e.ctrlKey && e.keyCode == 'F'.charCodeAt(0)){
	return false;
	}
	if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
	return false;
	}
	}
	</script>


</body>
</html>